<!DOCTYPE html>
<html lang="en" data-bs-color-scheme>
  <head style="background-image: url('../age2.jpg')">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-blackbox.min.css"
      rel="stylesheet"
    />
    <link href="css/base.css" , rel="stylesheet" />
    <title>Team Gen App</title>
    <body class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-4">
          Age of Empires 2: Definitive Edition | Team Gen App
        </h1>
        <h4 class="lead">Input Player Usernames, Separated by Commas</h2>
        <div class="input-group" class="my-4">
          <form
            action="javascript:getTeams()"
            id="players"
            method="POST"
            class="form-control"
          >
            <input
              id="playername"
              name="playername"
              placeholder="Player Names"
              class="form-control form-control-sm"
            ></input>
            <br />
            <button type="submit" class="btn btn-secondary btn-sm">Generate Teams</button>
          </form>
          <br>
        </div>
        <div class="input-group"><form id="maps" action="javascript:getMap()"><button type="submit" class="btn btn-secondary btn-sm my-4">Generate Map</button></form></div>
        <div class="input-group my-4">
          <form
            action="javascript:addNewPlayer()"
            id="new_player"
            method="POST"
            class="form-control"
          >
            <input
              id="new_player_name"
              name="new_player_name"
              placeholder="New Player Name"
              class="form-control form-control-sm"
            ></input>
            <input
              id="aoe2_insights_id"
              name="aoe2_insights_id"
              placeholder="aoe2 insights ID"
              class="form-control form-control-sm"
            ></input>
            <br />
            <button type="submit" class="btn btn-secondary btn-sm">Add New Player</button>
            <div class="my-4">aoe2insights url: www.aoe2insights.com</div>
          </form>
          <br>
        </div>
        <div id="stats"></div>
      </div>
    </body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>

    <!-- Required DarkMode JavaScript
             Also requires the `data-bs-color-scheme` attribute in either the HTML
             or the BODY tag -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/js/darkmode.min.js"></script>
    <script>
      // Define the API URL
      const apiUrl = "http://127.0.0.1:10000/map";

      function getMap() {
        fetch(apiUrl)
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            response.text().then((text) => {
              if (document.querySelector(`#chosenMap`) !== null) {
                document.querySelector(`#chosenMap`).remove()
              }
              var el = document.createElement("div")
              el.innerHTML = text
              el.id = "chosenMap"
              document.querySelector("#maps").appendChild(el)
              return text;
            })
            
          })
          .then((data) => {
            console.log(data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
    <script>
      // Define the API URL
      const statsUrl = "http://127.0.0.1:10000/stats";

      function getStats(user) {
        fetch(`${statsUrl}?user=${user[0].innerHTML}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            response.text().then((text) => {
              if (document.querySelector(`#innerStats`) !== null) {
                  document.querySelector(`#innerStats`).remove()
              }
              var el = document.createElement("div")
              el.innerHTML = text
              el.id = "innerStats"
              document.querySelector("#stats").appendChild(el)
              return text;
            })
          })
          .then((data) => {
            console.log(data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
    <script>
      const form = document.querySelector("#players");

      async function getTeams() {
        const formData = new FormData(form);

        try {
          const response = await fetch("http://127.0.0.1:10000/generate_teams", {
            method: "POST",
            body: formData,
          });
          response.text().then((text) => {
              data = JSON.parse(text)
              for (var i in data) {
                if (document.querySelector(`#${i}`) !== null) {
                  document.querySelector(`#${i}`).remove()
                }
                var ele = document.createElement("div")
                ele.innerHTML = i + ": "
                ele.id = i
                document.querySelector("#players").appendChild(ele)
              }
              for (var i in data) {
                for (var n in data[i]){
                  var username = String(data[i][n])
                  var el = document.createElement("form")
                  el.id = username
                  el.action = `javascript:getStats(${username})`
                  document.querySelector(`#${i}`).appendChild(el)
                  var el2 = document.createElement("button")
                  el2.innerHTML = username
                  document.querySelector(`#${username}`).appendChild(el2)
                }
              }
          })
        } catch (e) {
          console.error(e);
        }
      }
      // Take over form submission
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        getTeams();
      });
    </script>

<script>
  const form2 = document.querySelector("#new_player");

  async function addNewPlayer() {
    const formData2 = new FormData(form2);

    try {
      const response = await fetch("http://127.0.0.1:10000/add_player", {
        method: "POST",
        body: formData2,
      });
      response.text().then((text) => {
        var ele = document.createElement("div")
        ele.innerHTML = text
        document.querySelector("#new_player").appendChild(ele)
      })
    } catch (e) {
      console.error(e);
    }
  }
  // Take over form submission
  form2.addEventListener("submit", (event) => {
    event.preventDefault();
    addNewPlayer();
  });
</script>
  </head>
</html>
