<!doctype html>
<title>Team Gen App</title>
<h1>Age of Empires 2: Definitive Edition | Team Gen App</h1>
<h2>Input Player Names here</h2>
<form id="players">
<input id="player" name="playername" placeholder="Player Name">
<br>
</form>
<button onClick="addInput()">Add Player</button>
<a href="/generate_teams">
    <button>Generate</button>
</a>
<script>
    function addInput() {
        var originalInput = document.getElementById('players');
        var input = document.createElement('input');
        var br = document.createElement('br');
        input.id = 'player';
        input.placeholder = 'Player Name';
        input.name = 'playername';
        originalInput.appendChild(input);
        originalInput.appendChild(br);
    }
</script>